* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: #fff0ff;
    background: hsl(295, 51%, 57%);
    font-family: sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    background: rgb(148, 197, 236);
    padding: 10px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* we can use either pixels, percentages(%) or fractions(fr - we can use it in the repeat() function) */
    gap: 10px;
}

.element {
    background: #ec94c4;
    padding: 10px;
    border: #58a8ad 2px solid ;
}

/* this styles a specific element specified by the number
.element:nth-of-type(3) {
    align-self: start;
    justify-self: start;
}  */

/*   span -> row or column  */
.element:nth-of-type(1) {
    /*grid-column-start: 1;
    grid-column-end: 3;*/
    grid-column: 1/3;
    grid-row: 1 / span 3;
}

.element:nth-of-type(6) {
    grid-row: 3/6;
}
