* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: #fff0ff;
    background: hsl(295, 51%, 57%);
    font-family: sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 900px;
    background: rgb(148, 197, 236);
    padding: 10px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* we can use either pixels, percentages(%) or fractions(fr - we can use it in the repeat() function) */
    gap: 10px;
    align-items: start;
    justify-self: center;
}

.element {
    background: #ec94c4;
    padding: 10px;
    border: #58a8ad 2px solid ;
}

/* this styles a specific element specified by the number */
.element:nth-of-type(3) {
    align-self: start;
    justify-self: start;
}  */



@media (max-width: 700px) {
    /* select the elements to be changed */
    .container {
        grid-template-columns: 1fr;
    }
    .element:nth-of-type(6){
        grid-column: 1;
        grid-row: 6;
    }
}
