h1 {
    color: purple;
    font-size: 30px;
}
p {
  
    font-style: italic;
}
.firstheading {

    font-style: oblique;
}
header {
    background-color: tomato;
    font-size: xxx-large;
    color: springgreen;
}
.contactme {
    font-size: 30px;
    color: orangered;
    
}
article {
    padding: 1px 3px 5px 1px;
    margin-top: 6px;
    background-color: yellowgreen;
}
.mylist {
    font-size: 25px;
    font-style: italic;
}