* {
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    background-color: #F68989;
    padding-top: 90px;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    color: antiquewhite;
    
}

form {
    line-height: 3;
    font-size: 23px;
    background-color: #F6E7D8;
    font-family: 'Merriweather', serif;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }

.btn {
    background: #F0A500;
    background-image: -webkit-linear-gradient(top, #F0A500, #E45826);
    background-image: -moz-linear-gradient(top, #F0A500, #E45826);
    background-image: -ms-linear-gradient(top, #F0A500, #E45826);
    background-image: -o-linear-gradient(top, #F0A500, #E45826);
    background-image: linear-gradient(to bottom, #F0A500, #E45826);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 1px 3px #F0A500;
    -moz-box-shadow: 0px 1px 3px #F0A500;
    box-shadow: 0px 1px 3px #F0A500;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #F0A500;
    background-image: -webkit-linear-gradient(top, #F0A500, #F0A500);
    background-image: -moz-linear-gradient(top, #F0A500, #F0A500);
    background-image: -ms-linear-gradient(top, #F0A500, #F0A500);
    background-image: -o-linear-gradient(top, #F0A500, #F0A500);
    background-image: linear-gradient(to bottom, #F0A500, #F0A500);
    text-decoration: none;
  }